{#
/**
 * @file
 * UI Pattern variant meta information.
 */
#}

{% if variant is not empty %}
<div class="slds-m-vertical_medium">
  <h3 class="slds-text-heading_medium">{{ variant.label }} (<code>{{ variant.name }}</code>)</h3>
  {{ variant.description }}
</div>
{% endif %}
