{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('slds-brand-band_' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

<div{{ attributes.addClass('slds-brand-band') }}></div>
