{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('slds-nav-vertical_' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

<nav{{ attributes.addClass('slds-nav-vertical').setAttribute('aria-label', 'Sub page') }}>
  <div class="slds-nav-vertical__section">
    <h2 id="entity-header" class="slds-nav-vertical__title">Reports</h2>
    <ul aria-describedby="entity-header">
      <li class="slds-nav-vertical__item slds-is-active">
        <a href="javascript:void(0);" class="slds-nav-vertical__action" aria-current="true">Recent</a>
      </li>
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action">Created by Me</a>
      </li>
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action">Private Reports</a>
      </li>
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action">Public Reports</a>
      </li>
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action">All Reports</a>
      </li>
    </ul>
  </div>
  <div class="slds-nav-vertical__section">
    <h2 id="folder-header" class="slds-nav-vertical__title">Folders</h2>
    <ul aria-describedby="folder-header">
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action">Created by Me</a>
      </li>
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action">Shared with Me</a>
      </li>
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action">All Reports</a>
      </li>
    </ul>
  </div>
</nav>
